@using Microsoft.AspNetCore.Identity;

@inject SignInManager<UsuarioAplicacao> SignInManager;

@model ByteBank.Forum.ViewModels.ContaLoginViewModel

<h2>Login</h2>

@using (Html.BeginForm())
{
    @if (TempData["InfoIsNull"] != null)
    {
        @Html.ValidationSummary(TempData["InfoIsNull"].ToString(), new { @class = "text-danger" })
    }

    @if (TempData["CredenciaisInvalidas"] != null)
    {
        @Html.ValidationSummary(TempData["CredenciaisInvalidas"].ToString(), new { @class = "text-danger" })
    }


    //O primeiro parametro é a mensagem e o segundo é a classe do bootstrap
    @Html.ValidationSummary("", new { @class = "text-danger" })

    //Com esse código o asp.net vai criar todos os campos definidos na model automaticamente
    @Html.EditorForModel()

    @Html.ActionLink("Esqueci minha senha", "EsqueciSenha")

    <div class="form-group">
        <div class="offset-2 col-md-10">
            <input type="submit" value="Fazer Login" class="btn" />
        </div>

        @{
            var esquemaAutenticacao = await SignInManager.GetExternalAuthenticationSchemesAsync();

            if (esquemaAutenticacao != null)
            {
                foreach (var provider in esquemaAutenticacao)
                {
                    <button asp-action="LoginPorAutenticacaoExterna" class="btn btn-success" type="submit" value="@provider.Name" name="provider">
                        Entrar com @provider.Name
                    </button>
                }
            }
        }

    </div>
} 