@model ByteBank.Forum.ViewModels.ContaMinhaContaViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<UsuarioAplicacao> SignInManager
@inject UserManager<UsuarioAplicacao> UserManager

@{
    var usuario = await UserManager.GetUserAsync(Context.User);
}


<h2>Minha Conta</h2>

@using (Html.BeginForm("EsquecerNavegador", "Conta", FormMethod.Post,
  new { id = "formulario_esquecer_navegador" }))
{

}

@using (Html.BeginForm("DeslogarTodosOsLocais", "Conta", FormMethod.Post,
  new { id = "formulario_deslogar_locais" }))
{

}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.LabelFor(x => x.NomeCompleto)
    <br />
    @Html.EditorFor(x => x.NomeCompleto)
    <br />

    @Html.LabelFor(x => x.NumeroCelular)
    <br />
    @Html.EditorFor(x => x.NumeroCelular)
    <br />

    if (Model.NumeroCelularConfirmado)
    {
        @Html.LabelFor(x => x.HabilitarAutenticacaoDoisFatores)
        <br />
        @Html.EditorFor(x => x.HabilitarAutenticacaoDoisFatores)
        <br />

        @if (await SignInManager.IsTwoFactorClientRememberedAsync(usuario))
        {
            <a href="javascript:document.getElementById('formulario_esquecer_navegador').submit()">
                Esquecer este navegador
            </a>
        }

    }
    else
    {
        <p>
            * Informe e confirme seu número de celular para habilitar a autenticação com 2 fatores!
        </p>

        @Html.ActionLink("Clique aqui para verificar o token recebido", "VerificacaoCodigoCelular")
    }

    <br />

    <a href="javascript:document.getElementById('formulario_deslogar_locais').submit()">
        Deslogar de todos os locais
    </a>

    <br />

    <input type="submit" value="Salvar" class="btn btn-default" />
}