@using Microsoft.AspNetCore.Identity;

@inject SignInManager<UsuarioAplicacao> SignInManager;

@model ByteBank.Forum.ViewModels.ContaRegistrarViewModel

@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar</h1>

@using (Html.BeginForm())
{
    <h4>Complete o cadastro de sua conta!</h4>
    <br />

    @if (TempData["InfoIsNull"] != null)
    {
        @Html.ValidationSummary(TempData["InfoIsNull"].ToString(), new { @class = "text-danger" })
    }

    @if (TempData["FalhaCriarUsuario"] != null)
    {
        @Html.ValidationSummary(TempData["FalhaCriarUsuario"].ToString(), new { @class = "text-danger" })
    }

    //O primeiro parametro é a mensagem e o segundo é a classe do bootstrap
    @Html.ValidationSummary("", new { @class = "text-danger" })

    //Com esse código o asp.net vai criar todos os campos definidos na model automaticamente
    @Html.EditorForModel()

    <div class="form-group">
        <div class="offset-2 col-md-10">
            <input type="submit" value="Registrar" class="btn" />
        </div>

        @{
            var esquemaAutenticacao = await SignInManager.GetExternalAuthenticationSchemesAsync();

            if (esquemaAutenticacao != null)
            {
                foreach (var provider in esquemaAutenticacao)
                {
                    <button asp-action="RegistrarPorAutenticacaoExterna" class="btn btn-success" type="submit" value="@provider.Name" name="provider">
                        Entrar com @provider.Name
                    </button>
                }
            }
        }
    </div>
}
